.Board {
  text-align: center;
}
.Board h1 {
  font-weight: bold;
}

.board-container {
  margin: 0 auto;
  width: 55%;
  border: 2px solid #cbcbcb;
  padding: 10px 0 30px 0;
  border-radius: 5px;
  margin-bottom: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 400px;
  margin-top: 37px;
}

.board-card {
  border-bottom: 1px solid #dfdfdf;
  padding-top: 20px;
}
.board-card h2 {
  font-size: 23px;
}
.board-card div {
  font-size: 18px;
}

.form-wrapper {
  width: 55%;
  margin: 0 auto;
}

.title-input {
  width: 500px;
  height: 40px;
  margin: 10px;
}

.submit-button {
  width: 180px;
  height: 50px;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: #0d6efd;
  color: white;
  border-radius: 5px;
  margin-top: 40px;
  vertical-align: middle;
}
.submit-button:hover {
  background-color: #0b5ed7;
}
